<ion-content fullscreen class="ion-padding fnd__toolbar" scroll-y="false">
    <ion-button class="fnd__toolbar--back" (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button class="fnd__toolbar--button" (click)="goToSignup()" fill="clear">
        Signup
    </ion-button>
    <div class="fnd__container">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <h2 class="fnd__title fnd__title--main">Forgot Password?</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h5 class="fnd__title fnd__font--light-grey">
                        Enter the Email address associated with your account
                    </h5>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item class="forget-password-input">
                        <ion-input type="email" placeholder="Email" #email></ion-input>
                        <span item-right><ion-icon name="mail-outline"></ion-icon></span>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button expand="block" color="warning" (click)="forgetPassword(email)" class="forget-password-btn">
                        Reset Password
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>