<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start" fill="clear" (click)="navigateBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="dark" class="ion-padding">
    <ion-item color="dark">
        <ion-input type="text" value="{{myUser.displayName}}" readonly></ion-input>
        <span item-right><ion-icon name="location-outline"></ion-icon></span>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="text" value="{{myUser.email}}" readonly></ion-input>
        <span item-right><ion-icon name="location-outline"></ion-icon></span>
    </ion-item>
    <ion-item color="dark">
        <ion-input type="text" value="0771346789" readonly></ion-input>
        <span item-right><ion-icon name="location-outline"></ion-icon></span>
    </ion-item>

    <ion-button expand="block" color="warning" (click)="logoutApp()">Logout</ion-button>
</ion-content>