<ion-content fullscreen class="ion-padding fnd__toolbar" scroll-y="false">
    <ion-button class="fnd__toolbar--back" (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="fnd__container fnd__scroll">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <h2 class="fnd__title fnd__title--main">About Us</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <img src="assets/Find&dine-Logo-new.png">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p class="about-us-txt">Find&Dine is a mobile application which can detect the food dish by scanning a photo. It will scan the photo and detect the food name and displays the recipe (ingredients and steps to follow). Also, YouTube suggestion videos will be
                        displayed on how to cook the detected food item. Find&Dine assures reliability and convenience and was born of the need to fulfill the recipe needs of food lovers. Find&Dine is a prototype of the Undergraduate Project developed
                        for the Undergraduate Project of B.Sc.(Hons) Computer Science and Software Engineering - University of Bedfordshire - UK
                        <br><br> Email : kesaradharmasena15497@gmail.com
                        <br><br>Your feedback is important to us in order to make Find&Dine better for you. Report us any bugs in our app, improvements and your suggestions regarding Find&Dine.
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>